# Log level: error, warn, info, debug, trace
RUST_LOG=info

# Optional parameters, uncomment and set as needed. Reference documentation for details.
#OGIS_ADDR=0.0.0.0:3000
#OGIS_HMAC_SECRET=your-secret-key-here
