# Replace http://, https:// with your domain for automatic Let's Encrypt

http://, https:// {
    # Uncomment if using self-signed certificates
    # tls internal

    reverse_proxy ogis:3000
    encode gzip
}