{"openapi":"3.1.0","info":{"title":"ogis: Open Graph Images as a Service","description":"Generate Open Graph images dynamically via URL parameters","license":{"name":""},"version":"0.1.0"},"servers":[{"url":"https://img.ogis.dev"}],"paths":{"/":{"get":{"tags":["image"],"operationId":"generate","parameters":[{"name":"title","in":"query","description":"Title text for the image","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description text for the image","required":false,"schema":{"type":"string"}},{"name":"subtitle","in":"query","description":"Subtitle text (above title)","required":false,"schema":{"type":"string"}},{"name":"logo","in":"query","description":"Optional logo image URL","required":false,"schema":{"type":"string"}},{"name":"image","in":"query","description":"Optional custom image URL","required":false,"schema":{"type":"string"}},{"name":"template","in":"query","description":"Template name (e.g., \"twilight\", \"daybreak\")","required":false,"schema":{"type":"string"}},{"name":"signature","in":"query","description":"HMAC signature (required when authentication is enabled)","required":false,"schema":{"type":"string"}},{"name":"extra","in":"query","description":"Additional parameters (used for color customization)","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"},"propertyNames":{"type":"string"}}}],"responses":{"200":{"description":"Successfully generated PNG image (1200x630)","content":{"image/png":{}}},"400":{"description":"Invalid input - field exceeds maximum length or invalid signature format"},"401":{"description":"Authentication required or invalid signature"},"500":{"description":"Failed to generate image"}}}},"/health":{"get":{"tags":["monitoring"],"summary":"Health check endpoint","description":"Returns a simple \"ok\" response to indicate the service is running","operationId":"health_check","responses":{"200":{"description":"Service is healthy","content":{"text/plain":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"OgParams":{"type":"object","properties":{"description":{"type":["string","null"],"description":"Description text for the image"},"image":{"type":["string","null"],"description":"Optional custom image URL"},"logo":{"type":["string","null"],"description":"Optional logo image URL"},"signature":{"type":["string","null"],"description":"HMAC signature (required when authentication is enabled)","example":"a1b2c3d4e5f6..."},"subtitle":{"type":["string","null"],"description":"Subtitle text (above title)"},"template":{"type":["string","null"],"description":"Template name (e.g., \"twilight\", \"daybreak\")"},"title":{"type":["string","null"],"description":"Title text for the image"}},"additionalProperties":{"type":"string","description":"Additional parameters (used for color customization)"}}}},"tags":[{"name":"image","description":"Image generation endpoints"},{"name":"monitoring","description":"Service monitoring and health checks"}]}