{
  "openapi": "3.1.0",
  "info": {
    "title": "ogis: Open Graph Images as a Service",
    "description": "Generate Open Graph images dynamically via URL parameters",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://img.ogis.dev"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "image"
        ],
        "operationId": "generate",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Title text for the image",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description text for the image",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subtitle",
            "in": "query",
            "description": "Subtitle text (above title)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logo",
            "in": "query",
            "description": "Optional logo image URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image",
            "in": "query",
            "description": "Optional custom image URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "Template name (e.g., \"twilight\", \"daybreak\")",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "query",
            "description": "HMAC signature (required when authentication is enabled)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extra",
            "in": "query",
            "description": "Additional parameters (used for color customization)",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "propertyNames": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated PNG image (1200x630)",
            "content": {
              "image/png": {}
            }
          },
          "400": {
            "description": "Invalid input - field exceeds maximum length or invalid hex color"
          },
          "401": {
            "description": "Authentication required - missing signature"
          },
          "403": {
            "description": "Forbidden - invalid signature or SSRF blocked"
          },
          "404": {
            "description": "Template not found"
          },
          "422": {
            "description": "Unprocessable - invalid image URL, unsupported format, or image too large"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Bad gateway - upstream image fetch failed"
          },
          "503": {
            "description": "Service unavailable - server overloaded"
          },
          "504": {
            "description": "Gateway timeout - image fetch timed out"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Health check endpoint",
        "description": "Returns a simple \"ok\" response to indicate the service is running",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorBody": {
        "type": "object",
        "description": "JSON error response body",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "description": "Machine-readable error codes for programmatic handling",
        "enum": [
          "VALIDATION_FIELD_TOO_LONG",
          "VALIDATION_INVALID_URL",
          "VALIDATION_INVALID_HEX_COLOR",
          "AUTH_INVALID_SIGNATURE_FORMAT",
          "AUTH_MISSING_SIGNATURE",
          "AUTH_INVALID_SIGNATURE",
          "SSRF_PRIVATE_IP_BLOCKED",
          "TEMPLATE_NOT_FOUND",
          "IMAGE_TOO_LARGE",
          "IMAGE_INVALID_CONTENT_TYPE",
          "IMAGE_HTTP_NOT_ALLOWED",
          "RENDER_FAILED",
          "SVG_PARSE_FAILED",
          "PNG_ENCODE_FAILED",
          "FONT_ERROR",
          "INTERNAL_ERROR",
          "UPSTREAM_FETCH_FAILED",
          "SERVICE_OVERLOADED",
          "UPSTREAM_TIMEOUT"
        ]
      },
      "ErrorDetail": {
        "type": "object",
        "description": "Error detail within the response",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode",
            "description": "Machine-readable error code"
          },
          "details": {
            "type": [
              "string",
              "null"
            ],
            "description": "Additional details about the error"
          },
          "field": {
            "type": [
              "string",
              "null"
            ],
            "description": "Field that caused the error (if applicable)"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      },
      "OgParams": {
        "type": "object",
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Description text for the image"
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional custom image URL"
          },
          "logo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional logo image URL"
          },
          "signature": {
            "type": [
              "string",
              "null"
            ],
            "description": "HMAC signature (required when authentication is enabled)",
            "example": "a1b2c3d4e5f6..."
          },
          "subtitle": {
            "type": [
              "string",
              "null"
            ],
            "description": "Subtitle text (above title)"
          },
          "template": {
            "type": [
              "string",
              "null"
            ],
            "description": "Template name (e.g., \"twilight\", \"daybreak\")"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Title text for the image"
          }
        },
        "additionalProperties": {
          "type": "string",
          "description": "Additional parameters (used for color customization)"
        }
      }
    }
  },
  "tags": [
    {
      "name": "image",
      "description": "Image generation endpoints"
    },
    {
      "name": "monitoring",
      "description": "Service monitoring and health checks"
    }
  ]
}
